body {
    background-image: url("http://www.freeimageslive.co.uk/image/view/7024/_original");
    background-size: 100%;
}

#title {
    color: #fff;
    font-size:60px;
    text-align:center;
}

#view_button {
    margin-top:30px;
    text-align:center;
}